<div class="main user-show">
  <div class="container">
    <div class="user">

      <img src="<%="/user_images/#{@user.image_name}" %>">
      <!-- 以下で、ユーザー名を出力してください -->
      <h2><%= @user.name %></h2>
      <!-- 以下で、メールアドレスを出力してください -->
      <p><%= @user.email %></p> 
      <% if @user.id == @current_user.id %>
      <%= link_to("編集","/users/#{@user.id}/edit") %>
      <% end %>
    </div>

    <p class="d-flex justify-content-end">
    <%# if user_signed_in? && @user == current_user %>
    <%#= link_to "プロフィール編集", edit_user_path(@user), class: "btn-sm btn-success" %>
    <%# end %>
    <% if @current_user != @user %>
    <% if @current_user.following?(@user) %>
    <%= link_to 'フォロー外す', user_relationships_path(@user.id), data: {"turbo_method": :delete}, class: "btn-sm btn-danger" %>
    <% else %>
    <%= link_to 'フォローする', user_relationships_path(@user.id), data: {"turbo-method": :post}, class:"btn-sm btn-success" %>
    <% end %>
    </p>
    <% end %>
    <div class="ml-3 mb-3 card w-100">
      <div class="d-flex">
        <%#= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %>
        <h4 class="ml-5 m-3"><%#= @user.name %></h4>
      </div>
      <div class="d-flex">
        <%= link_to follows_user_path(@user) do %>
        <h6>フォロー<%= @following_users.count %></h6>
        <% end %>&nbsp;&nbsp;
        <%= link_to followers_user_path(@user) do %>
        <h6>フォロワー<%= @follower_users.count %></h6>
        <% end %>
      </div>
    </div>
    <div class=" row justify-content-center">



    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>

          <!-- 投稿画像の表示 -->
          <div class="post_image">
          <% if post.image_name %>
          <img src="<%= "/post_images/#{post.image_name}" %>">
          <% end %>

          <!--コメント機能-->
          <p class="caption"><%= "#{post.comments.count} コメント" %></p>  <!--この行を追記-->

          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>