
<div class="main posts-index">
  <div class="container">
    <div>検索結果 "<%= @keyword %>" </div>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
        <!-- ユーザーの画像が表示されるように、以下のsrcに値を追加してください -->
        <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを作成してください -->
            <%=link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
        <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>

        <!-- 投稿画像の表示 -->
        <% if post.image_name %>
        <img src="<%= "/post_images/#{post.image_name}" %>">
        <% end %>

        <!--コメント機能-->
        <p class="caption"><%= "#{post.comments.count} コメント" %></p>

      </div>
    
    <% end %>
    
  </div>
</div>